{% extends 'base.html' %} {% block style %}
<style>
  main {
    background-image: url(https://source.unsplash.com/n8rK2ALPHTY);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.588);
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
{% endblock %}{% block content %}
<main>
  <div class="container text-center">
    <h1>OOPS!</h1>
    <h3>{{message}}</h3>
    <h3>Click the button below or use the nav-bar to return home.</h3>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</main>
{% endblock %}
