{% extends 'base.html' %} {% block style %}
<style>
  .index {
    background-image: url("https://media4.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif?cid=ecf05e47h84n4tlvjgfblhxmvngyosd6w2uka0iex51g9fs3&ep=v1_gifs_search&rid=giphy.gif&ct=g");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  }
</style>
{% endblock %} {% block content %}
<main class="flex flex-col items-center justify-center h-screen index">
  <div class="flex items-center">
    <div class="overflow-hidden rounded-full h-80 w-80">
      <img
        src="{{url_for('static', filename='images/me.jpg')}}"
        alt="Profile picture"
      />
    </div>
    <div class="ml-4">
      <h1 class="text-5xl font-bold leading-tight text-white font-montserrat">
        Hi, I'm Jason Martinez!
      </h1>
      <p class="mt-5 text-3xl text-center text-gray-300">
        Welcome to my website!
      </p>
      <div class="flex items-center justify-center mt-5">
        <a href="https://linkedin.com/in/jason-o-martinez">
          <span class="mr-5 text-4xl text-center text-gray-300 bi bi-linkedin"></span>
        </a>
        <a href="https://github.com/martinezjas">
          <span class="text-4xl text-center text-gray-300 bi bi-github"></span>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
